<!DOCTYPE html>
<html lang="en">
<head>
    <title>帳號登入</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:30px; }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h3><span class="fa fa-sign-in"></span><%= message %></h1>
        <!-- LOGIN FORM -->
        <form action="" method="post">
            <div class="form-group">
                <label>帳號:</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>密碼:</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">登入</button>
        </form>
        <hr>
        <p>建立一個新帳號? <a href="/signup">註冊</a></p>
        <p>或者 <a href="/">回首頁</a>.</p>
    </div>
</div>

</body>
</html>